<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/movies.css">
    <title></title>
  </head>
  <body>
    <h1><%=movies.name%></h1>
    <ul>
      <li><h3>Synopsis:</h3><%=movies.synop%></li>
      <li><h3>Favorite Actor/Actress:</h3><%=movies.favActor%></li>
      <li><h3>Rating:</h3><%=movies.rating%>
    </ul>
    <a href="/movies"><button>Back to Movies</button></a>
  </body>
</html>
